<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaVB.My.MySettings.dbSistemaVBConnectionString"
            connectionString="Data Source=WIN-6D553OEIVVL\SQL2017DEV;Initial Catalog=dbSistemaVB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>